<div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 20 %></div>
<!--<div id="content_main_map">-->
    <div id="map" class="content_left moabitwest">Kartenausschnitt Moabit West</div>
    <div class="content_bottom">
        <div class="boxheader">
            <!--<input id="eventswitch" type="checkbox" checked="checked" value="event" onclick="kk.cat_toggle('event');" />Veranstaltungen-->
            <!--    <input id="shopswitch" type="checkbox" checked="checked" value="shop" onclick="qb_toggle('shop');" />Läden-->
            <input id="artistswitch" type="checkbox" checked="checked" value="artist" onclick="kk.cat_toggle('artist');"/>Gewerberäume</div>
        <div id="boxheadline">Die Objekte</div>

        <div class="event" id="event">
        </div>

        <div class="artist" id="artist">
            <div class="splitter">&nbsp;</div>

            <div class="o_entry" onclick="kk.show('k1');">
                <ul id="k1" class="o_entry">
                    <li class="o_name">Verkaufsfläche:60,00 m²</li>
                    <li class="o_people">1.854,00 EUR</li>
                    <li class="o_desc">Gesamtfläche: 70,00 m²
                        Miete 1.854,00 EUR
                        Nebenkosten: 190,00 EUR
                        Kaution: 4 Nettomieten
                        Provision: 1 MM
                        Gasetagenheizung, rechnen Sie mit monatlichen Kosten über 100 EUR
                    </li>
                    <li class="o_adr">Turmstr. 82, 10551 Berlin</li>
                    <li class="o_www"><a href="http://www.stadtmuster.de/" target="_new">www.stadtmuster.de</a></li>
                    <li class="o_post">info[at]stadtmuster.de</li>
                    <li class="o_tel">(030) 1234567 - 46 73</li>
                </ul>
            </div>
            <div class="splitter">&nbsp;</div>

            <div class="o_entry" onclick="kk.show('k2');">
                <ul id="k2" class="o_entry">
                    <li class="o_name">Verkaufsfläche:22,00 m²</li>
                    <li class="o_people">315,00 EUR</li>
                    <li class="o_desc">
                        Gesamtfläche:42,00 m²
                        Miete 315,00 EUR
                        Nebenkosten: 96,60 EUR
                        Kaution: 2 Nettokaltmieten
                    </li>
                    <li class="o_adr">Beusselstr. 37, 10551 Berlin</li>
                    <li class="o_www"><a href="http://www.stadtmuster.de/" target="_new">www.stadtmuster.de</a></li>
                    <li class="o_post">info[at]stadtmuster.de</li>
                    <li class="o_tel">(030) 1234567 - 46 73</li>
                </ul>
            </div>

            <div class="splitter">&nbsp;</div>

            <div class="o_entry" onclick="kk.show('k3');">
                <ul id="k3" class="o_entry">
                    <li class="o_name">2 Flächen</li>
                    <li class="o_people">10,- EUR pro m²</li>
                    <li class="o_desc">
                        Verkaufsfläche:46,00 m²
                        Gesamtfläche:70,38 m²

                        Verkaufsfläche:32,85 m²
                        Gesamtfläche:43,39 m²

                        Miete pro m²:10,00 EUR
                        Kaution: 3 Brutto- Warmmieten
                        Nebenkosten: 2,50 EUR
                    </li>
                    <li class="o_adr">Sickingenstr. 1, 10551 Berlin</li>
                    <li class="o_www"><a href="http://www.stadtmuster.de/" target="_new">www.stadtmuster.de</a></li>
                    <li class="o_post">info[at]stadtmuster.de</li>
                    <li class="o_tel">(030) 1234567 - 46 73</li>
                </ul>
            </div>

            <div class="splitter">&nbsp;</div>

            <div class="o_entry" onclick="kk.show('k4');">
                <ul id="k4" class="o_entry">
                    <li class="o_name">Bauernhof</li>
                    <li class="o_people">2,- EUR pro m²</li>
                    <li class="o_desc">
                        Gesamtfläche:700 m²
                        Kaution: 3 Brutto- Warmmieten
                        Nebenkosten: kein
                    </li>
                    <li class="o_adr">Reuchlinstr. 5, 10551 Berlin</li>
                    <li class="o_www"><a href="http://www.stadtmuster.de/" target="_new">www.stadtmuster.de</a></li>
                    <li class="o_post">info[at]stadtmuster.de</li>
                    <li class="o_tel">(030) 1234567 - 46 73</li>
                </ul>
            </div>

            <div class="splitter">&nbsp;</div>
        </div>

    </div>
<!--</div>-->
