<div class="span-24">
  <div class="span-3">&nbsp;</div>
  <div class="span-16">
    <div class="breadcrump"><%= link_to 'Das Quartier', '/moabitwest/quartier' %> > Ethnische Ökonomie</div>
  </div>
  <div class="span-5 last">&nbsp;</div>
</div>
<!--
<div class="span-3">&nbsp;</div>
<div class="span-20">
  <%= image_tag 'STD_Buero-Laden.jpg', :width => 725, :height => 210, :style=>"margin-left: -5px;" %>
</div>
<div class="span-1 last">&nbsp;</div>
-->
<div class="span-24">
  <div class="span-3">&nbsp;</div>
  <div class="span-16">
    <h2 class="prepend-top">Ethnische Ökonomie</h2>

    <p>
      Das Projekt zur Stärkung der ethnischen Ökonomie wird aus Mitteln des Jobcenters Berlin Mitte und des Landes
      Berlins gefördert. Ziel des ist es, UnternehmerInnen und ExistenzgründerInnen mit Migrationshintergrund zu
      unterstützen, um eine gestärkte und integrierte ethnische Ökonomie in Berlin Mitte zu realisieren. Es soll im
      Rahmen des Projektes eine Broschüre erstellt werden, die die wesentlichen kommunalen und gemeinnützigen
      Einrichtungen, die Kammern und Interessenverbände sowie Ansprechpartner enthält. Um eine hohe Verbreitung und
      Annahme der Broschüre zu erreichen, wird diese in verschiedenen Sprachen erscheinen und den Unternehmen direkt
      zugänglich gemacht.
    </p>

    <p class="prepend-top" style="line-height:2;white-space:pre;">
      Ansprechpartner:
      Projektgruppe Ethnische Ökonomie
      BBJ Service gGmbH
      Gottschedstraße 4
      13357 Berlin
      E-Mail: <%= mail_to "ethnische-oekonomie@bbj.de", nil, :encode => "javascript" %>
      Tel: 46906410
    </p>

    <div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 200 %></div>
  </div>
  <div class="span-5 last">&nbsp;</div>
</div>
