<div class="span-24">
  <div class="span-3">&nbsp;</div>
  <div class="span-16">
    <div class="breadcrump"><%= link_to 'Das Quartier', '/moabitwest/quartier' %> > Projekt „Aktive Stadtteilzentren“</div>
  </div>
  <div class="span-5 last">&nbsp;</div>
</div>

<!--
<div class="span-3">&nbsp;</div>
<div class="span-20">
  <%= image_tag 'STD_Buero-Laden.jpg', :width => 725, :height => 210, :style=>"margin-left: -5px;" %>
</div>
<div class="span-1 last">&nbsp;</div>
-->
<div class="span-24">
  <div class="span-3">&nbsp;</div>
  <div class="span-16">
    <h2 class="prepend-top">Projekt „Aktive Stadtteilzentren“</h2>

    <p>Die Senatsverwaltung für Stadtentwicklung hat fünf Berliner Geschäftsstraßen ausgewählt, die in den kommenden
      Jahren aus dem neuen Bund-Länder-Programm "Aktive Stadt- und Ortsteilzentren" gefördert werden sollen, darunter
      auch die Turmstraße in Moabit. In diesen Fördergebieten sollen Maßnahmen zur Aufwertung des öffentlichen Raums,
      zur Wiedernutzung leerer Gebäude und Brachflächen, Stadtmarketingmaßnahmen, Bürgerbeteiligung und akteursnahe
      Fonds nach dem Vorbild der Verfügungsfonds der Sozialen Stadt gefördert werden.</p>

    <p>Im Rahmen dieses Projektes werden für die Turmstraße folgende Maßnahmen anvisiert:
      Die Ausbildung eines zentralen qualitätvollen Stadtraumes als räumlicher, funktionaler
      und identitätsstiftender Kern für die Turmstraße und für Moabit soll realisiert werden.
      Sowohl der Kleine Tiergarten als auch der Otto-Park sollen nachhaltig aufgewertet werden. Zudem sollen weitere
      Stadtplätze wieder belebt bzw. neu geschaffen werden. Der U-Bahnhof Turmstraße soll als attraktive Drehscheibe des
      ÖPNV dienen. Unter der Berücksichtigung der ethnischen Vielfalt soll die Arminius-Markthalle revitalisiert werden.
      Ferner werden zur Aufwertung der Aufenthalts- und Angebotsqualität Maßnahmen im Straßenraum realisiert, zugunsten
      des Bus- und Fahrradverkehrs und des Fußgängerverkehrs. Ein Geschäftsmanagement soll das Angebot
      professionalisieren und ein positives außenwirksames Marketing betreiben. Die funktionale Vielfalt soll durch ein
      konzentriertes und konzeptionell abgestimmtes gastronomisches Angebot und Vernetzung und Ergänzung der bestehenden
      Kulturorte realisiert werden.
    </p>

    <p class="prepend-top" style="line-height:2;white-space:pre;">
      Ansprechpartner:
      Bezirksamt Mitte von Berlin
      Abt. Stadtentwicklung
      Amt für Planen und Genehmigen
      Frau Möbus
      Tel: 030 901845859
    </p>

    <div class="spacer"><%= image_tag 'None.gif', :width => 1, :height => 200 %></div>
  </div>
  <div class="span-5 last">&nbsp;</div>
</div>
