<div id="content_headleft"><h2>Schwarzes Brett</h2></div>
<div id="content_info_map">
    Hier können Sie ihre Wohn -und Gewerberaumgesuche oder jeweilige Angebote eingeben.<br/>
    Bitte gehen Sie auf "<%= link_to('Neue Anzeige',"/anzeige")%>", um auf das Eingabeformular weitergeleitet zu werden.
<!--
    Geben Sie jeder Anzeige ein Passwort um diese später eigenständig ändern und löschen zu können und beachten Sie den
    Gültigkeitszeitraum Ihrer Anzeige.
-->
</div>
