<div class="span-24">
  <div class="span-2">&nbsp;</div>
  <div class="span-20">
    <h2>Objekt ändern</h2>

    <%= render :partial => 'places/form' %>
  </div>
  <div class="span-2 last">&nbsp;</div>
</div>